################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ExemplosCSharp7_CONADS/v15/Server/sqlite3
